<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <p>
      <%= f.label :gender %>
      <%= f.text_field :gender %>
    </p>

    <p>
      <%= f.label :race %>
      <%= f.text_field :race %>
    </p>

    <p>
      <%= f.label :ethnicity %>
      <%= f.text_field :ethnicity %>
    </p>

    <p>
      <label for="profile_military">
        <%= f.check_box :military %>
        Military/Veteran?
      </label>
    </p>

    <p>
      <%= f.label :birthdate %>
      <%= f.date_select :birthdate, {}, class: "birthdateSelect" %>
    </p>
  </fieldset>

  <%= f.submit "Save" %>
<% end %>
