<h1>Profile</h1>

<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2>Your profile could not be saved.</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div <%= "class=profileEditHighlight" if current_user.missing_candidate_profile? %>>
    <h2>Candidate Information</h2>

    <p>This is basic information any jobseeker should have. We'd like you to fill out these fields, so that we can easily access the information from one place.</p>

    <fieldset>
      <p>
        <%= f.label :resume, "Link to your latest résumé" %>
        <%= f.text_field :resume, placeholder: "E.g. 'http://docs.google.com/5x8m23'" %>
      </p>

      <p>
        <%= f.label :personal_website, "Link to your personal website" %>
        <%= f.text_field :personal_website, placeholder: "E.g. 'http://sumeetjain.github.io'" %>
      </p>

      <p>
        <%= f.label :linked_in, "Link to your LinkedIn profile" %>
        <%= f.text_field :linked_in, placeholder: "E.g. 'http://linkedin.com/p/3892423'" %>
      </p>

      <p>
        <%= f.label :twitter, "Your Twitter username" %>
        <%= f.text_field :twitter, placeholder: "E.g. 'sumeetjain'" %>
      </p>
    </fieldset>
  </div>

  <h2>Anonymous Information</h2>

  <p>
    We use answers to the questions below to analyze hiring trends <strong>anonymously</strong>. We will never share the information you choose to disclose below.
  </p>

  <p>
    We hope you'll share this information with us, as it helps us serve you and future students more effectively. But, if you want, you can <%= link_to "skip this step", :root %>.
  </p>

  <fieldset>
    <p>
      <%= f.label :gender %>
      <%= f.text_field :gender %>
    </p>

    <p>
      <%= f.label :race %>
      <%= f.text_field :race %>
    </p>

    <p>
      <%= f.label :ethnicity %>
      <%= f.text_field :ethnicity %>
    </p>

    <p>
      <label for="profile_military">
        <%= f.check_box :military %>
        Military/Veteran?
      </label>
    </p>

    <p>
      <%= f.label :birthdate %>
      <%= f.date_select :birthdate, {start_year: Date.today.year - 80, end_year: Date.today.year - 16}, class: "dateSelect" %>
    </p>
  </fieldset>

  <%= f.submit "Save" %>
<% end %>
