<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @profile.user_id %>
</p>

<p>
  <strong>Cohort:</strong>
  <%= @profile.cohort_id %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @profile.birthdate %>
</p>

<p>
  <strong>Race:</strong>
  <%= @profile.race %>
</p>

<p>
  <strong>Ethnicity:</strong>
  <%= @profile.ethnicity %>
</p>

<p>
  <strong>Military:</strong>
  <%= @profile.military %>
</p>

<p>
  <strong>Disability:</strong>
  <%= @profile.disability %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
