<%= form_for(@position) do |f| %>
  <% if @position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% @position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:action] == "new" %>
    <p>
      <%= f.label "For which existing application?" %>
      <%= f.select(:entry_id, @entries.collect {|e| [e.company.name, e.id]}) %><br>
    </p>
  <% elsif params[:action] == "add_new_to_existing_entry" %>
    <p>
      <%= f.label @entry.company.name %>
      <%= f.hidden_field :entry_id, :value => @position.entry_id %>
    </p>
  <% end %>

  <p>
    <%= f.label :job_title %><br>
    <%= f.text_field :job_title, value: @entry.offer.job_title %>
  </p>

  <%= f.fields_for :salary do |ff| %>
    <p>
      <%= ff.label :amount, "Salary/Rate" %><br>
      <%= ff.text_field :amount, placeholder: "49,000 or 20/hr" %>
      <%= ff.select(:rate, options_for_select(Salary.rates.keys, "hourly")) %>
    </p>
  <% end %>

  <p>
    <%= f.label :location %><br>
    <%= f.text_field :location, value: @entry.offer.location %>
  </p>
  <p>
    <%= f.label "Employment type" %><br>
    <%= f.select(:nature_of_employment, options_for_select(Position.nature_of_employments.keys, @entry.offer.nature_of_employment)) %>
  </p>
  <p>
    <label for="offer_remote">
      <%= f.check_box :remote, checked: @entry.offer.remote %>
      Remote?
    </label>
  </p>
  <p>
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date, 
          {start_year: Date.today.year - 5, end_year: Date.today.year + 5, 
          :include_blank => true, :default => nil}, class: "dateSelect" %>
  </p>
  <p>
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date, 
          {start_year: Date.today.year - 5, end_year: Date.today.year + 5, 
          :include_blank => true, :default => nil}, class: "dateSelect" %>
  </p>

    <%= f.submit "Save" %>
<% end %> 
