<%= form_for(@position) do |f| %>
  <% if @position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% @position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:action] == "new" %>
    <div class="field">
      <%= f.label "For which existing application?" %>
      <%= f.select(:entry_id, @entries.collect {|e| [e.company, e.id]}) %><br>
    </div>
  <% elsif params[:action] == "add_new_to_existing_entry" %>
    <div class="field">
      <%= f.label @entry.company %>
      <%= f.hidden_field :entry_id, :value => @position.entry_id %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :job_title %><br>
    <%= f.text_field :job_title %>
  </div>

  <%= f.fields_for :salary do |ff| %>
    <div class="field">
      <%= ff.label :amount %><br>
      <%= ff.text_field :amount %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label "Employment type" %><br>
    <%= f.select(:nature_of_employment, Offer.nature_of_employments.keys) %>
  </div>
  <div class="field">
    <%= f.label :remote %><br>
    <%= f.check_box :remote %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date, :include_blank => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %> 
