<div class="button-group jobEntryButtons">
  <% if !entry.job_application.posting_url.blank? %>
    <label>
      <%= link_to "Job Posting", entry.job_application.posting_url, class: "button-group-item", target: "_blank" %>
    </label>
  <% end %>

  <% if !entry.job_application.company_contact.blank? %>
    <label>
      <%= link_to "Message Hiring Manager", "mailto:#{entry.job_application.company_contact}", class: "button-group-item" %>
    </label>
  <% end %>

  <% if !entry.offer %>
    <label>
      <%= link_to "Edit Details", edit_job_application_path(entry.job_application.id), class: "button-group-item" %>
    </label>

    <label>
      <%= link_to '＋ Received Offer', :advance_job_application, class: "button-group-item" %>
    </label>
  <% else %>
    <label>
      <%= link_to "Edit Details", edit_offer_path(entry.offer.id), class: "button-group-item" %>
    </label>

    <% if !entry.position %>
      <label>
        <%= link_to "＋ Accepted Position", :advance_offer, class: "button-group-item" %>
      </label>
    <% end %>

  <% end %>
</div>