<div class="button-group jobEntryButtons">
  <% if @decorated_entry.has_job_application_posting_url %>
    <label>
      <%= link_to "Job Posting", @decorated_entry.job_application.posting_url, class: "button-group-item", target: "_blank" %>
    </label>
  <% end %>

  <% if @decorated_entry.has_job_application_company_contact %>
    <label>
      <%= link_to "Message Hiring Manager", "mailto:#{@decorated_entry.job_application.company_contact}", class: "button-group-item" %>
    </label>
  <% end %>

  <% if !@decorated_entry.offer %>
    <label>
      <%= link_to "Edit Details", edit_job_application_path(@decorated_entry.job_application.id), class: "button-group-item" %>
    </label>

    <label>
      <%= link_to '＋ Received Offer', :advance_job_application, class: "button-group-item" %>
    </label>
  <% else %>
    <label>
      <%= link_to "Edit Details", edit_offer_path(@decorated_entry.offer.id), class: "button-group-item" %>
    </label>

    <% if !@decorated_entry.position %>
      <label>
        <%= link_to "＋ Accepted Position", :advance_offer, class: "button-group-item" %>
      </label>
    <% end %>

  <% end %>
</div>