<div class="comment">
  <div class="comment-image">
    <%= image_tag @decorated_entry.user_image %>
  </div>

  <div class="comment-content">
    <p>
      Adding this "<%= @decorated_entry.job_application.job_title %>"
      <%= @decorated_entry.job_application.nature_of_employment %> position
      at <%= @decorated_entry.company_name %> in <%= @decorated_entry.job_application.location %>.

      <% if @decorated_entry.job_application.remote %>
        (Remote position.)
      <% end %>
    </p>

    <% if @decorated_entry.has_job_application_notes %>
      <p>Notes: <%= entry.job_application.notes %></p>
    <% end %>
    
    <p class="comment-detail">
      <%= @decorated_entry.user_name %> created this job application
      <%= @decorated_entry.formatted_created_time %> ago
    </p>
  </div>
</div>