<% content_for :sidebar do %>
  <%= render "application/default_sidebar", {user: @entry.user} %>
<% end %>

<h1><%= @entry.company.name %></h1>

<%= render "buttons", {entry: @entry} %>

<p>Add notes for yourself and the instructional team here.</p>

<%= form_for @event do |f| %>
  <%= f.hidden_field :entry_id %>

  <div class="jointFieldAndButton">
    <%= f.text_area :notes, placeholder: "Example: Met with Janis for coffee. She asked me about my salary expectations.", class: "jointFieldAndButton__field" %>
    
    <%= f.submit "Save", class: "jointFieldAndButton__button" %>  
  </div>
<% end %>

<div class="eventsContainer">
  <% @entry.events_history.each do |event| %>
    <div class="comment">
      <div class="comment-image">
        <%= image_tag event.user.image_url %>
      </div>

      <div class="comment-content">
        <%= simple_format(event.notes) %>
        
        <p class="comment-detail">
          <%= event.user.name %> commented
          <%= time_ago_in_words(event.created_at) %> ago
        </p>
      </div>
    </div>
  <% end %>

  <%= render "message_from_alex", {entry: @entry} %>
  <%= render "message_from_sumeet", {entry: @entry} %>
  <%= render "starter_comment", {entry: @entry} %>
</div>

<% if @entry.offer %>
  <hr>

  <h2>Offer</h2>

  <p>
    You received an offer to work at the <%= @entry.offer.location %> location as a <%= @entry.offer.job_title %>, earning <%= number_to_currency(@entry.offer.salary.pretty_amount, precision: 0) %> about <%= time_ago_in_words(@entry.offer.created_at) %> ago. <%= "This is a remote position." if @entry.offer.remote %>
  </p>
<% end %>

<% if @entry.position %>
  <strong>Position</strong><br>
  <%= @entry.position.job_title %>, <%= @entry.position.location %><br>
  <%= link_to 'See more...', @entry.position %><br><br>
<% end %>

