<% content_for :sidebar do %>
  <%= render "application/default_sidebar", {user: @decorated_entry.user} %>
<% end %>

<h1><%= @decorated_entry.company_name %></h1>

<%= render "buttons" %>

<p>Add notes for yourself and the instructional team here.</p>

<%= form_for @decorated_entry.build_event do |f| %>
  <%= f.hidden_field :entry_id %>

  <div class="jointFieldAndButton">
    <%= f.text_area :notes, placeholder: "Example: Met with Janis for coffee. She asked me about my salary expectations.", class: "jointFieldAndButton__field" %>
    
    <%= f.submit "Save", class: "jointFieldAndButton__button" %>  
  </div>
<% end %>

<div class="eventsContainer">
  <% @decorated_entry.events_history.each do |decorated_event| %>
    <div class="comment">
      <div class="comment-image">
        <%= image_tag decorated_event.image_url %>
      </div>

      <div class="comment-content">
        <%= decorated_event.formatted_notes %>
        
        <p class="comment-detail">
          <%= decorated_event.name %> commented
          <%= decorated_event.formatted_time_ago %> ago
        </p>
      </div>
    </div>
  <% end %>

  <%= render "message_from_alex" %>
  <%= render "message_from_sumeet" %>
  <%= render "starter_comment" %>
</div>

<% if @decorated_entry.offer %>
  <hr>

  <h2>Offer</h2>

  <p>
    You received an offer to work at the <%= @decorated_entry.offer.location %> location as a <%= @decorated_entry.offer.job_title %>, earning <%= @decorated_entry.offer.formatted_amount %> (<%= @decorated_entry.offer.rate %>) about <%= @decorated_entry.offer.formatted_acceptance_time %> ago. <%= @decorated_entry.offer.remote_message %>
  </p>
<% end %>

<% if @decorated_entry.position %>
  <h2>Position</h2>
  <p>
    You accepted a position at the <%= @decorated_entry.position.location %> location as a <%= @decorated_entry.position.job_title %>, earning <%= @decorated_entry.position.formatted_amount %> (<%= @decorated_entry.position.rate %>) about <%= @decorated_entry.position.formatted_acceptance_time %> ago. <%= @decorated_entry.position.remote_message %> Congratulations!
  </p>
  <!-- <%# @entry.position.job_title %> <%# @entry.position.location %><br>
  <%# link_to 'See more...', @entry.position %><br><br> -->
<% end %>

