<h1><%= @entry.company %></h1>

<div class="button-group jobEntryButtons">
  <% if !@entry.job_application.posting_url.blank? %>
    <label>
      <%= link_to "Job Details", @entry.job_application.posting_url, class: "button-group-item", target: "_blank" %>
    </label>
  <% end %>

  <% if !@entry.job_application.company_contact.blank? %>
    <label>
      <%= link_to "Message Hiring Manager", "mailto:#{@entry.job_application.company_contact}", class: "button-group-item" %>
    </label>
  <% end %>

  <% if !@entry.offer %>
    <label>
      <%= link_to '＋ Received Offer', :advance_job_application, class: "button-group-item" %>
    </label>
  <% else %>

    <% if !@entry.position && false %>
      <label>
        <%= link_to "＋ Accepted Position", :advance_offer, class: "button-group-item" %>
      </label>
    <% end %>

  <% end %>
</div>

<% if @entry.job_application %>
  <p>
    You added the "<%= @entry.job_application.job_title %>" <%= @entry.job_application.nature_of_employment %> position, at <%= @entry.company %> in <%= @entry.job_application.location %> about <%= time_ago_in_words(@entry.created_at) %> ago.
  </p>

  <% if !@entry.job_application.notes.blank? %>
    <p>Notes: <%= @entry.job_application.notes %></p>
  <% end %>

  <p>
    <% if @entry.job_application.remote %>
      This is a remote position.
    <% end %>
  </p>
<% end %>

<hr>

<h2>Progress</h2>

<p>Add notes for yourself and the instructional team here.</p>

<%= form_for @event do |f| %>
  <%= f.hidden_field :entry_id %>

  <div class="jointFieldAndButton">
    <%= f.text_area :notes, placeholder: "Example: Met with Janis for coffee. She asked me about my salary expectations.", class: "jointFieldAndButton__field" %>
    
    <%= f.submit "Save", class: "jointFieldAndButton__button" %>  
  </div>
<% end %>

<div class="eventsContainer">
  <% @entry.events_history.each do |event| %>
    <div class="comment">
      <div class="comment-image">
        <%= image_tag event.user.image_url %>
      </div>

      <div class="comment-content">
        <%= simple_format(event.notes) %>
        
        <p class="comment-detail">
          <%= event.user.name %> commented
          <%= time_ago_in_words(event.created_at) %> ago
        </p>
      </div>
    </div>
  <% end %>

  <%= render "message_from_sumeet", {entry: @entry} %>
</div>

<% if @entry.offer %>
  <hr>

  <h2>Offer</h2>

  <p>
    You received an offer to work at the <%= @entry.offer.location %> location as a <%= @entry.offer.job_title %>, earning <%= number_to_currency(@entry.offer.salary.pretty_amount, precision: 0) %> about <%= time_ago_in_words(@entry.offer.created_at) %> ago. <%= "This is a remote position." if @entry.offer.remote %>
  </p>
<% end %>

<% if @entry.position %>
  <strong>Position</strong><br>
  <%= @entry.position.job_title %>, <%= @entry.position.location %><br>
  <%= link_to 'See more...', @entry.position %><br><br>
<% end %>

