<!-- <p>
  <strong>User:</strong>
  <%= @entry.user_id %>
</p> -->

<p>
  <h1><%= @entry.company %></h1>
</p>

<% if @entry.job_application %>
  <strong>Application</strong><br>
  <%= @entry.job_application.job_title %>, <%= @entry.job_application.location %><br><br>
  <!-- Remote: <%= @entry.job_application.remote.to_s %><br>
  Posting URL: <%= @entry.job_application.posting_url %><br>
  Company Contact: <%= @entry.job_application.company_contact %><br>
  Notes: <%= @entry.job_application.notes %><br><br> -->
<% end %>

<% if @entry.offer %>
  <strong>Offer</strong><br>
  <%= @entry.offer.job_title %>, <%= @entry.offer.location %><br><br>
<% end %>

<%# link_to 'Edit', edit_entry_path(@entry) %><!--  | -->
<%# link_to 'Back', entries_path %>
