<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Github:</strong>
  <%= link_to @user.github_username , 'https://www.github.com/'+@user.github_username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Class <%= @user.cohort.name %></strong>
</p>

<% if current_user == @user %>
  <div>
    <%= link_to 'Edit', edit_user_path(@user) %>
  </div>
<% end %>
<%# link_to 'Back', users_path %>

<div>
  [PARTIAL WILL GO HERE WITH ENTRIES INFO]
</div>