<%= form_for(@job_application) do |f| %>
  <% if @job_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @job_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :entry do |ff| %>
    <div class="field">
      <%# f.label :user_id %><br>
      <%= ff.hidden_field :user_id, :value => current_user.id %>
    </div>
    <div class="field">
      <%= ff.label :company %><br>
      <%= ff.text_field :company %>
    </div><br><br>
  <% end %> 

  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :job_title %><br>
    <%= f.text_field :job_title %>
  </div>
  <div class="field">
    <%= f.label "Employment type" %><br>
    <%= f.select(:nature_of_employment, options_for_select([["Internship", 0], ["Apprenticeship", 1], ["Freelance/Contract", 2], ["Part-Time", 3], ["Full-Time", 4], ["Self-Employed", 5]])) %>
  </div>
  <div class="field">
    <%= f.label :remote %><br>
    <%= f.check_box :remote %>
  </div>
  <div class="field">
    <%= f.label :posting_url %><br>
    <%= f.text_field :posting_url %>
  </div>
  <div class="field">
    <%= f.label :company_contact %><br>
    <%= f.text_field :company_contact %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
<!--   <div class="field">
    <%# f.label :date_due %><br>
    <%# f.date_select :date_due %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>