<%= form_for(@job_application) do |f| %>
  <% if @job_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @job_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <h2>Company Info</h2>
    <%= f.fields_for :entry do |ff| %>
      <%= ff.hidden_field :user_id, :value => current_user.id %>

      <!-- Question about this section -->
      <p>
        <%= ff.label :company_name, "Company" %>
        <%= ff.autocomplete_field :company_name, autocomplete_company_name_job_applications_path, placeholder: "Google" %>
      </p>
    <% end %> 

    <p>
      <%= f.label :location %>
      <%= f.text_field :location, placeholder: "Omaha" %>
    </p>  
  </fieldset>

  <fieldset>
    <h2>Job Details</h2>
    <p>
      <%= f.label :job_title %>
      <%= f.text_field :job_title %>
    </p>
    <p>
      <%= f.label "Employment type" %>
      <%= f.select(:nature_of_employment, JobApplication.nature_of_employments.keys) %>
    </p>
    <p>
      <label for="job_application_remote">
        <%= f.check_box :remote %>
        Remote?
      </label>
    </p>  
  </fieldset>

  <fieldset>
    <h2>Job Posting</h2>

    <p>
      <%= f.label :posting_url %>
      <%= f.text_field :posting_url %>
    </p>
    <p>
      <%= f.label :company_contact, "Hiring Manager Email" %>
      <%= f.text_field :company_contact, placeholder: "recruiter@google.com" %>
    </p>
    <p>
      <%= f.label :notes %>
      <%= f.text_area :notes %>
    </p>
  </fieldset>

  <%= f.submit "Save" %>
<% end %>