<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @job_application.location %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @job_application.job_title %>
</p>
<p>
  <strong>Employment type</strong>
  <%= @job_application.nature_of_employment %>
</p>
<p>
  <strong>Remote:</strong>
  <%= @job_application.remote %>
</p>

<p>
  <strong>Posting url:</strong>
  <%= @job_application.posting_url %>
</p>

<p>
  <strong>Company contact:</strong>
  <%= @job_application.company_contact %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @job_application.notes %>
</p>

<p>
  <strong>Date due:</strong>
  <%= @job_application.date_due %>
</p>

<%= link_to 'Edit', edit_job_application_path(@job_application) %> |
<%= link_to 'Back', job_applications_path %>
