<%= form_for(@offer) do |f| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% @offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <h2>Company Info</h2>
    <%= f.fields_for :entry do |ff| %>
      <p>
        <%= ff.label :company_name, "Company" %>
        <%= ff.autocomplete_field :company_name, autocomplete_company_name_job_applications_path, placeholder: "Google" %>
      </p>
    <% end %> 

    <p>
      <%= f.label :location %>
      <%= f.text_field :location, placeholder: "Omaha" %>
    </p>  
  </fieldset>

  <fieldset>
    <h2>Offer Details</h2>
    <p>
      <%= f.label :job_title %>
      <%= f.text_field :job_title %>
    </p>
    <p>
      <%= f.label "Employment type" %>
      <%= f.select(:nature_of_employment, Offer.nature_of_employments.keys) %>
    </p>
    <p>
      <label for="job_application_remote">
        <%= f.check_box :remote %>
        Remote?
      </label>
    </p>  

    <%= f.fields_for :salary do |ff| %>
      <p>
        <%= ff.label :amount, "Salary/Rate" %>
        <%= ff.text_field :amount, placeholder: "49,000 or 20/hr" %>
        <%= ff.select(:rate, options_for_select(Salary.rates.keys, "hourly")) %>
      </p>
    <% end %>

  </fieldset>

  <%= f.submit "Save" %>
<% end %>
