<%= form_for(@offer) do |f| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% @offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :entry do |ff| %>
    <div class="field">
      <%# f.label :user_id %><br>
      <%= ff.hidden_field :user_id, :value => current_user.id %>
    </div>
    <% binding.pry %>
    <div class="field">
      <%= ff.label :company %><br>
      <%= ff.text_field :company %>
    </div><br><br>
  <% end %> 

  <div class="field">
    <%= f.label :job_title %><br>
    <%= f.text_field :job_title %>
  </div>
  <div class="field">
    <%= f.label :salary %><br>
    <%= f.text_field :salary %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label "Employment type" %><br>
    <%= f.select(:nature_of_employment, Offer.nature_of_employments.keys) %>
  </div>
  <div class="field">
    <%= f.label :remote %><br>
    <%= f.check_box :remote %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
