<p id="notice"><%= notice %></p>

<h1>Your Offers</h1>

<table>
  <!-- <thead>
    <tr>
      <th>Job title</th>
      <th>Location</th>
      <th>Remote</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody> -->
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.job_title %>, <%= offer.entry.company.name %></td>
        <!-- <td><%= offer.location %></td>
        <td><%= offer.remote %></td> -->
        <td><%= link_to 'Show', offer.entry %></td>
        <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
        <td><%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
<!--   </tbody> -->
</table>

<br>

<%= link_to 'New Offer', new_offer_path %>
