<h1><%= @entry.company %>: Offer Received</h1>

<p>
  You're adding an offer for the "<%= @entry.job_application.job_title %>" <%= @entry.job_application.nature_of_employment %> position, at <%= @entry.company %> in <%= @entry.job_application.location %>. Congrats!
</p>

<p>
  Please add/confirm some details about the offer below.
</p>

<%= render 'form' %>
