<% if @job_applications.any? %>
  <table class="tables">
    <% @job_applications.each do |job_application| %>
      <tr>
        <td>
          <%= link_to job_application.job_title, job_application.entry %>,
          <%= job_application.entry.company.name %>
        </td>

        <td>
          <%= link_to("Job Posting", job_application.posting_url, target: "_blank") unless job_application.posting_url.blank? %>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>
    Looks like you haven't applied to any jobs yet. When you do, they'll show up here.
  </p>

  <p>
    Click "Add Application" in the menu bar above to get started.
  </p>
<% end %>

<h1>Resumé Translations</h1>

<% if @translations.any? %>
  <table class="tables">
    <% @translations.each do |translation| %>
      <tr>
        <td>
          <%= link_to translation.project_name, translation %>,
          <%= translation.truncate %>
        </td>

<!--         <td>
          <%# link_to("Job Posting", translation.posting_url, target: "_blank") unless translation.posting_url.blank? %>
        </td> -->
      </tr>
    <% end %>
  </table>  
<% end %>
