<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <%= link_to(image_tag("ocs_star.png", alt: ""), :root, class: "logo") %>
    
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>

    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><%= link_to "Outcomes Tracker", :root %></li>
      </ul>
    </nav>

    <div class="navigation-tools">
      <% if current_user %>
        <ul class="navigation-menu show">
          <% if current_user.admin? %>
            <li class="nav-link">
              <%= link_to("Students", :users) %>
            </li>
          <% end %>

          <li class="nav-link">
            <%= link_to("Add Application", :new_job_application) %>
          </li>

          <li class="nav-link">
            <%= link_to 'Update Profile', :update_profile %>
          </li>

          <% if current_user.admin? %>
            <li class="nav-link">
              <%= link_to("Settings", :admin_root) %>
            </li>
          <% end %>

          <li class="nav-link">
            <%= link_to 'Log Out', :logout, method: :delete %>
          </li>
        </ul>
      <% end %>
    </div>

  </div>
</header>
