<div class="userInfo">
  <div class="userInfo__top">
    <h1 class="userInfo__name"><%= user.name %></h1>
    <div class="userInfo__cohort"><%= user.cohort.name %></div>

    <% if current_user.admin? %>
      <div class="userInfo__lastActive">
        Last active <%= time_ago_in_words(user.last_active_at) %> ago.
      </div>
    <% end %>
  </div>

  <div class="userInfo__socialLinks">
    <% if user.missing_candidate_profile %>
      <div class="sidebarAlert">
        <p class="sidebarAlert__header">
          <%= fa_icon("exclamation-triangle") %>
          No Candidate Profile
        </p>
        <p class="sidebarAlert__text">
          You need to
          <%= link_to "add links to your latest résumé and LinkedIn", :update_profile %>.
        </p>
      </div>
    <% else %>
      <%= link_to fa_icon("file-text-o", text: "Résumé"), user.resume, class: "userInfo__socialLink" %>
      <%= link_to fa_icon("linkedin", text: "LinkedIn"), user.linked_in, class: "userInfo__socialLink" %>
    <% end %>

    <%= link_to fa_icon("github-alt", text: user.github_username), github_url(user.github_username), class: "userInfo__socialLink" %>

    <% if !user.twitter.blank? %>
      <%= link_to fa_icon("twitter", text: user.twitter), twitter_url(user.twitter), class: "userInfo__socialLink" %>
    <% end %>
  </div>

  <% if !user.email.blank? %>
    <div class="userInfo__email">
      <%= fa_icon "envelope-o", text: user.email %>
    </div>
  <% end %>
</div>