<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title>Outcomes Tracker</title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <div class="container">
    <%= render "refills/navigation" %>
  </div>

  <div class="main">
    <div class="container">
      <% if current_user %>
        <div class="sidebar">
          <%= image_tag current_user.image_url, alt: current_user.name, class: "profilePhoto" %>

          <p>
            <strong><%= current_user.github_username %></strong><br>
            <%= current_user.cohort.name %>
          </p>
        </div>
      <% end %>

      <div class="pageContent">
        <%= render "flashes" -%>
        <%= yield %>  
      </div>
    </div>
  </div>

  <%= render "javascript" %>
  <%= render "css_overrides" %>
</body>
</html>
