<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  
  <h3> OUTCOMES TRACKER LOL. THIS IS THE APP LAYOUT. </h3>
  <%= render "flashes" -%>
  <div>
    <% if current_user %>
      <ul>
        <%= image_tag current_user.image_url, alt: current_user.name %>
        <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
      </ul>
    <% else %>
      <li><%= link_to 'Login with GitHub', '/auth/github' %></li>
    <% end %>
  </div>

  <%= yield %>
  <%= render "javascript" %>
  <%= render "css_overrides" %>
</body>
</html>
